:root {
    --gray-100: #fff;
    --gray-200: #d9d9d9;
    --white: #fff;
    --gray-100: #d9d9d9;
    --gray-200: #808080;
    --gray-300: #707070;
    --gray-400: #363636;
    --gray-500: #222222;
    --gray-700: #1a1a1a;
    --black: #1a1a1a;

    --blue-500: #4E6EDE;
    --blue-700: #3352C3;
    --green-500: #26C277;
    --green-700: #093d24;
    --yellow-500: #FFD231;
    --yellow-700: #644f04;
}

/* :focus
{
:focus {
    outline: transparent;
} */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .3 ease-out;
    transition: all .3s ease-out;
}

body {
    background: var(--gray-500);
    color: var(--gray-100);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
}

body,
Input,
button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* input,
button
{
input,
button {
    border-radius: 8px;
    padding: 1rem;
}

input:nover,
button:nover
{
input:hover,
button:hover,
i:hover {
    cursor: pointer;
} */
}

/* ---------------------- WRAPPER BELLOW ---------------------- */

.wrapper {
    max-width: 46rem;
    margin: 0 auto;
    /* padding: 0 1rem 5rem 1rem; */
    padding: 0 1rem 5rem 1rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    /* align-items: center;
    justify-content: center; */
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }

    /* .wrapper
    {
        grid-template-columns: 1fr;
    } */
}

/* ---------------------- HEADDER BELLOW ---------------------- */

headder {
    display: flex;
    /* Utilizado por padrão para centralizar conteúdos em linha
    /* pois o display flex, por padrão, já vem ajustado dessa forma */
    justify-content: center;
    /* Poderia ser usado o align-items, porém, este ajusta o conteúdo em coluna
    /* para funcionar, teria que ser habilitado o flex-direction: colum */

    /* Descontando o valor do gap discriminado na estilização do wrapper */
    padding: calc(6.75rem - 2rem) 0;
}

/* ---------------------- FORM BELLOW ---------------------- */

.new_task_form {
    display: flex;
    gap: 16px;
}

.new_task_form input {
    width: 100%;
    height: 3.375rem;

    background: var(--gray-400);
    color: var(--gray-300);
    border: 1px solid transparent;
}

.new_task_form input:hover {
    border: 1px solid var(--blue-500)
}

.new_task_form button {
    width: 6.625rem;
    height: 3.25rem;

    background: var(--blue-500);
    color: var(--white);
    border: 1px solid transparent;

    display: flex;
    align-items: center;
}

/* .new_task_form button:disabled {
    background: var(--black);
    color: var(--gray-200);
} */

.new_task_form button:hover {
    background: var(--blue-700);
}

.new_task_form button i {
    font-size: 22px;
    margin-left: 8px;
}

/* ---------------------- TASKS COUNTER BELLOW ---------------------- */

.tasks_counter {
    max-width: 46rem;
    padding: 1.25rem;
    margin: 48px auto;

    border-top: 3px solid var(--gray-400);
    border-bottom: 3px solid var(--gray-400);

    display: flex;
    justify-content: space-between;
}

.tasks_counter strong {
    font-size: 0.875rem;
}

.tasks_counter span {
    padding: 8px 12px;
    border-radius: 999px;
    margin-left: 8px;
}

.count {
    font-size: 0.75rem;
    font-weight: bold;
}

/* ---------------------- TASKS COUNTER COLORS BELLOW ---------------------- */

.all_tasks {
    color: var(--yellow-500)
}

.all_tasks span {
    background: var(--yellow-500);
    color: var(--yellow-700);
}

.done_tasks {
    color: var(--green-500);
}

.done_tasks span {
    background: var(--green-500);
    color: var(--green-700);
}

/* ---------------------- EMPTY TASKS BELLOW ---------------------- */

.empty_tasks {
    display: flex;

    align-items: center;
    justify-content: center;

    color: var(--gray-300);
    font-size: 1.3rem;
}

.empty_tasks img {
    margin-right: 32px;
}

.empty_tasks div p:first-child {
    font-weight: bold;
}
}